.fl-collapsable {
	margin: 12px;
}
.fl-navigationList-hidden {
	max-height:43px;
}

.fl-navigationList-animation {
    -webkit-transition: max-height 0.75s ease-in;
}
.fl-collapsingPanel.fl-navigationList-hidden > *:first-child {
	-webkit-border-radius:8px;
}
.fl-collapsingPanel a {
    -webkit-tap-highlight-color: rgba(255,0,0,1);	
}
