<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>Catalogue</title>
        
        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-layout.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-text.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-transitions.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-mobile-layout.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-mobile-theme-iphone.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-engage-core/components/navigationList/css/NavigationList.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-engage-core/components/cabinet/css/Cabinet.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-engage-core/components/catalogue/css/Catalogue.css" />
        
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/lib/jquery/core/js/jquery.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/lib/jquery/ui/js/ui.core.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/lib/jquery/plugins/delegate/js/jquery.delegate.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/core/js/jquery.keyboard-a11y.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/lib/json/js/json2.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/core/js/Fluid.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/core/js/FluidDOMUtilities.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/core/js/DataBinding.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/renderer/js/fluidParser.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/renderer/js/fluidRenderer.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/lib/fastXmlPull/js/fastXmlPull.js"></script>
        
        <script type="text/javascript" src="../../../../fluid-engage-core/components/catalogue/js/Catalogue.js"></script>
        <script type="text/javascript" src="../../../../fluid-engage-core/components/navigationList/js/NavigationList.js"></script>
        <script type="text/javascript" src="../../../../fluid-engage-core/framework/js/loadData.js"></script>
    </head>   
    <body class="fl-theme-iphone">
        <div class="fl-catalogue flc-catalogue-container">
            <div class="flc-screenNavigator-navbar fl-navbar fl-table">
			    <div class="fl-table-row">
			        <h1 class="fl-table-cell flc-exhibition-title">Exhibitions</h1>
			    </div>
			    <div class="fl-table-row">
			        <h3 class="fl-table-cell">Catalogue</h3>
			    </div>
			</div>
			<div class="flc-catalogueList">
				<ol class="fl-list-menu fl-list-thumbnails fl-thumbnails-expanded flc-nagivationList-listGroup">
				    <li class="flc-navigationList-items">
				        <a class="flc-navigationList-link flc-screenNavigator-backButton" href="">
				            <img src="../images/a.jpg" alt="Section Image" class="flc-navigationList-image fl-icon" />
				            <span class="flc-navigationList-titleText">Title</span>
				            <span class="flc-navigationList-descriptionText fl-link-summary">Introduction</span>
				        </a>
				    </li>
				</ol>
			</div>
        </div>
        <script type="text/javascript">
            fluid.engage.initComponentWithDataFeed(window.location, "fluid.catalogue", ".flc-catalogue-container");
        </script>
    </body>
</html>