/* styles used for testing and development
 * TODO: should be moved to tool css for image gallery
 */
body { 
	padding: 6px;
}

#step-indicator {
	display: block;
	padding: 1em 2em;
}

#step-indicator li {
	padding-right: 2em;		
	float: left;
}

#step-indicator li:after {
	content: "  >> ";
}

#step-indicator li:last-child:after {
	content: "";
}

#step-indicator .active-step {
	font-weight: bolder;
}

#step-indicator .inactive-step {
	color: #999;
}

#step-indicator .completed {
	color: #666;
	font-weight: bolder;
}

form#fFileUp { 
	margin-top: 2em;
	padding: 1em 2em;
	display: block;
	clear: both;
}

#fFileUp button.bigbtn {
	height: 2.7em;
	padding-left: 2em;
	padding-right: 2em;
	margin-right: 1em;
	margin-top: 0.6em;
	outline: none;
}

#fFileUp #file_queue {
	width: 480px;
	border-left: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
}

#fFileUp caption {
	font-weight: bolder;
	text-align: left;
	margin: 1em 0;
}

#fFileUp tr {
	background-color: #DFDFDF;
}

#fFileUp tbody {
	overflow-x: hidden;
	overflow-y: auto;
	width: 465px;
}

#fFileUp tbody tr {
	background-color: white;
}

#fFileUp tr.hover {
	background-color: #FBFFDC;
}

#fFileUp tr.dim {
	color: #666;
}

#fFileUp td, #fFileUp th { 
	text-align: left;
	padding: 6px;
	border-top: 1px solid #CCC;
}

#fFileUp th { 
	text-align: left;
	padding: 6px;
	border-right: 1px solid #CCC;
}

#fFileUp td {
	border-right: none;
}

#fFileUp tfoot td {
	text-align: right;
}

#fFileUp .fileName {
	max-width: 256px;
	overflow: hidden;
}

#fFileUp .removeFileBtn {
	border: none;
	height: 16px;
	width: 16px;
	overflow: hidden;
	background: url(images/delete.png) scroll no-repeat 0px 0px;
}

#fFileUp td.fileRemove, #fFileUp td.fileStatus { 
	white-space: nowrap;
}

#fFileUp td.fileSize { 
	text-align: center;
	white-space: nowrap;
}


#fFileUp #placeholder td {
	background-color: #E1EFEF;
	padding: 0;
	font-size: 0.6em;
}

#fFileUp #placeholder button, #fFileUp .dim button {
	display: none;
}

/* STATES
 * start - before the first click of the Browse button
 * ready - no files in the queue; case where there were files but they've been removed
 * loaded - files in the queue, but the Upload button has not been clicked
 * partial - some files uploaded, some still in the queue
 * done - all files have been uploaded
 */

#fFileUp.start #browseBtn {
	background-color: #82ACFD;
}

#fFileUp.start table, #fFileUp.start #uploadBtn {
	display: none;
}

#fFileUp.loaded #uploadBtn {
	background-color: #82ACFD;
}

#fFileUp.empty #uploadBtn, #fFileUp.done #uploadBtn  {
	color: #666;
	border: 1px solid #CCC;
}

#fFileUp .instructions  {
	display: none;
}

 #fFileUp.start .instructions  {
	display: block;
}

#fFileUp.loaded #placeholder td, #fFileUp.done #placeholder td {
	font-size: 0.2em;
}

/* PROGRESS INDICATOR
 * 
 */

.progress {
	display: none;
	width: 453px;
	position: fixed;
	top: 120px;
	left: auto;
	overflow: hidden;
}

.progress_content {
	position: relative;
	padding: 1em 1.2em 1.4em;
	z-index: 400;
}

.progress_mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 300;
}

.progress_mask_top, .progress_mask_btm {
	position: relative;
	width: 100%;
	left: 0;
}

.progress_mask_top {
	height: 14px;
	top: 0;
	background: url(images/rounded_overlay_top.png) no-repeat top right;
}

.progress_mask_btm {
	background: url(images/rounded_overlay_btm.png) no-repeat bottom right;
}

.progress h2 {
	margin: 0 0 .6em;
	color: white;
}

.progress-status {
	position: relative;
	margin: 5px 0;
	background-color: white;
}

.progress-status-data {
	position: relative;
	background: transparent;
	border: 1px solid #CCC;
	padding: 3px 0;
	font-weight: bolder;
	text-align: center;
	z-index: 400;
}

.progress-status-indicator {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('images/upload.gif');	
	height: 100%;
	width: 1%;
	z-index: 350;
}

/* just for dev */

fieldset, legend { 
	border: 1px dotted #555;
	padding: 10px;
	background-color: #BBB;
}

legend { background-color: white; }

