<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
        <title>Artifact demo</title>

        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-layout.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-text.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-transitions.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-mobile-layout.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-mobile-theme-iphone.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-engage-core/components/artifactView/css/Artifact.css" />
		<link type="text/css" rel="stylesheet" href="../../../../fluid-engage-core/components/cabinet/css/Cabinet.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-engage-core/components/navigationList/css/NavigationList.css" />
		<link rel="stylesheet" type="text/css" href="../../../../fluid-engage-core/components/tags/css/Tags.css" />
		<link rel="stylesheet" type="text/css" href="../../../../fluid-engage-core/components/description/css/Description.css" />
   
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/lib/jquery/core/js/jquery.js"></script>
		<script type="text/javascript" src="../../../../fluid-infusion/src/webapp/lib/jquery/ui/js/ui.core.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/lib/jquery/plugins/delegate/js/jquery.delegate.js"></script>
		<script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/core/js/jquery.keyboard-a11y.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/lib/json/js/json2.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/core/js/Fluid.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/core/js/FluidDOMUtilities.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/core/js/DataBinding.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/renderer/js/fluidParser.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/renderer/js/fluidRenderer.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/lib/fastXmlPull/js/fastXmlPull.js"></script>   
        
		<script type="text/javascript" src="../../../../fluid-engage-core/framework/js/Engage.js"></script>
        <script type="text/javascript" src="../../../../fluid-engage-core/components/artifactView/js/artifact.js"></script>
        <script type="text/javascript" src="../../../../fluid-engage-core/framework/js/loadData.js"></script>
		<script type="text/javascript" src="../../../../fluid-engage-core/components/tags/js/Tags.js"></script>
        <script type="text/javascript" src="../../../../fluid-engage-core/components/navigationList/js/NavigationList.js"></script>  
        <script type="text/javascript" src="../../../../fluid-engage-core/components/cabinet/js/Cabinet.js"></script>
		<script type="text/javascript" src="../../../../fluid-engage-core/components/description/js/Description.js"></script>
        
		      
    </head>   
	  <body class="fl-theme-iphone"> 
        <div class="fl-artifact">
            <div class="artifact-container">
                <div class="flc-artifact-renderscope">
                    <div class="flc-screenNavigator-navbar fl-navbar fl-table">
                        <div class="fl-table-row">              
                        	<h1 class="fl-table-cell artifact-name">Artifact name</h1>                          
                        </div>
                    </div>            
                    <div class="fl-container-auto">
                        <img src="../images/Snuffbox.jpg" alt="" class="fl-force-left fl-artifact-thumbnail artifact-picture" />
						<p class="artifact-descr-name">Here goes a longer artifact name!</p>
						<p class="artifact-provenance">Here goes a longer artifact provenance!</p>
						<p class="artifact-date">Here goes a longer artifact date!</p>
						<p class="artifact-accession-number">Here goes a longer artifact accession number!</p>
                    </div>
                </div>
				<div class="flc-description">
					<div class="flc-description-content"></div>
				</div>
				<div class="cabinet">
				    <div class="flc-cabinet-drawer">
		                <div class="flc-cabinet-handle">
		                    <h2 class="flc-cabinet-header">Show Audio and Video</h2>
		                </div>
		                <div class="flc-cabinet-contents">
		                    <img class="fl-demo-image" src="../../../../fluid-engage-core/components/artifactView/images/media_panel.png" alt="Audio and Video" />
		                </div>
		            </div>
                    <div class="flc-cabinet-drawer">
		                <div class="flc-cabinet-handle">
		                    <h2 class="flc-cabinet-header">Show Comments</h2>
		                </div>
		                <div class="flc-cabinet-contents">
		                    <img class="fl-demo-image" src="../../../../fluid-engage-core/components/artifactView/images/comment_panel.png" alt="Audio and Video" />
		                </div>
		            </div>
		            <div class="flc-cabinet-drawer flc-tags-template fl-tags">
		                <div class="flc-cabinet-handle">
		                    <h2 class="flc-cabinet-header flc-tags-title">Tags</h2>
		                </div>
                        <ul class="flc-cabinet-contents tags-pane">
                            <li class="flc-tags-tag"><span class="flc-tags-tagName fl-button-white fl-bevel-white">tag</span></li>
                        </ul>
		            </div>
        		</div>
                 <div class="relatedArtifacts fl-container">
                    <ul class="flc-nagivationList-listGroup">
                        <li class="flc-navigationList-items">
                            <a class="flc-navigationList-link">
                                <span class="flc-navigationList-titleText">Go to Related artifacts</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            fluid.engage.initComponentWithDataFeed(window.location, "fluid.artifact", ".artifact-container");
        </script>
    </body>
</html>