<div class="flc-screenNavigator-navbar fl-navbar fl-table">
    <div class="fl-table-row">
        <h1 class="fl-table-cell">Exhibitions</h1>
    </div>
    <div class="fl-table-row">
        <h3 class="fl-table-cell">Upcoming Exhibitions</h3>
    </div>
</div>
<h3 class="flc-exhibition-title">Exhibition Title</h3>
<img src="../images/a.jpg" alt="Exhibition Image" class="fl-force-left flc-exhibition-image" />
<div class="flc-exhibition-fromDate">From Date</div>
<input type="button" value="Set reminder" class="flc-exhibition-reminder-button fl-button" />
<div class="flc-exhibition-description">Exhibition Description</div>