.fl-cabinet-handle h2 {
    margin:0;    
}
.fl-cabinet-handle.fl-cabinet-headerWithDescription {
    padding:0 10px;
}
.fl-cabinet-handle.fl-cabinet-headerWithDescription h2 {
    margin:0 0 -5px 0;
    padding:5px 0 0 0;
}

.fl-collapsable {
	margin: 12px;
}
.fl-cabinet-drawerClosed {
	max-height:50px;
}

.fl-cabinet-animation {
    -webkit-transition: max-height 0.75s ease-in;
}

.fl-collapsingPanel.fl-cabinet-drawerClosed > *:first-child {
	-webkit-border-radius:8px;
}
