<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<title>Artifact Description</title>
		
        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-layout.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-mobile-iphone-layout.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-mobile-iphone-theme.css" />
		<link type="text/css" rel="stylesheet" href="../css/Description.css" />
		
		<script type="text/javascript" src="../../../../fluid-infusion/src/webapp/lib/jquery/core/js/jquery.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/core/js/Fluid.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/lib/fastXmlPull/js/fastXmlPull.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/renderer/js/fluidParser.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/renderer/js/fluidRenderer.js"></script>
		<script type="text/javascript" src="../js/Description.js"></script>
	</head>
	<body class="fl-theme-iphone">
		<div class="flc-description">
			<p class="flc-description-content"></p>
		</div>        
        <h2>Other Content</h2>
        <script type="text/javascript">
            var options = {
                model: "<i>Marvel Super Special</i>, vol. 1, no. 25, <i>Rock & Rule</i>, 1983." + 
                    "This comic book contains an adaptation of the film <Rock 'n' Rule</i>, along " + 
                    "with articles on the making of the film, the music of the film, and production stills. " + 
                    "<p> The cover of the book features an illustration of several characters from the film, " + 
                    "along with the text \"\" Marvel Super Special / The Official Adaptation / of the Feature-Length " + 
                    "Animated Rock 'n' Roll Fantasy from Nelvana! / Plus: Articles, Interviews and Artwork from the Movie." + 
                    "\"\"The book includes a special section on the making of the film."
            };
            fluid.description(".flc-description", options);
        </script>
	</body>
</html>
