/* CSS for the Image-Gallery 2 project */

body { 
	padding: 6px;
}

#step-indicator {
	display: block;
	padding: 1em 2em;
}

#step-indicator li {
	padding-right: 2em;		
	float: left;
}

#step-indicator li:after {
	content: "  >> ";
	color: #999;
}

#step-indicator li:last-child:after {
	content: "";
}

#step-indicator .active-step {
	font-weight: bolder;
}

#step-indicator .inactive-step {
	color: #999;
}

#step-indicator .completed {
	color: #666;
	font-weight: bolder;
}

.fluid-uploader {
	margin-top: 2em;
	padding: 1em 2em;
	display: block;
	clear: both;
	width: 434px;
}